<p>check the console!</p>

<!-- Name search box -->
<body>
  <div class="wrapper">
    <!-- Name search box -->
    <form #f="ngForm" action="">
      <label for="searchName">Search by name: </label>
      <input required #box="ngModel" (keyup.enter)="onEnter(box.value)" type="text" ngModel name="nameInput" placeholder="ex. Rebecca" minlength="2" pattern="[A-Za-z]*">
      <button (click)="onEnter(box.value)" id="nameSubmit" type="submit" onclick="document.getElementById('nameSubmit').disabled = true;" [disabled]="!f.valid">Search!</button>
      <div class="error" *ngIf="box.touched && !box.valid">
        <div *ngIf="box.errors.required">Name is required.</div>
        <div *ngIf="box.errors.minlength">Name must be minimum {{ box.errors.minlength.requiredLength }} characters.</div>
        <div *ngIf="box.errors.pattern">Name must be alphabetical characters.</div>
      </div>
      <p>Name searched: {{ value }}</p>
    </form>
    
    <!-- Birthdate search box -->
    <form #f2="ngForm" action="">
      <label for="searchDate">Search by birthdate: </label>
      <input #dateBox (keyup.enter)="onEnterDate(dateBox.date)" type="date" name="searchDate" id="searchDate" pattern="[12]\d{3}/(0[1-9]|1[0-2])/(0[1-9]|[12]\d|3[01])" placeholder="YYYY/MM/DD">
      <button id="dateSubmit" onclick="document.getElementById('dateSubmit').disabled = true;" [disabled]="!f2.valid" >Search!</button>
      <p>{{ date }}</p>
    </form>
    
    <!-- Table displaying data -->
    <table>
      <tr>
        <th *ngFor = "let column of headers">
          {{ column }}
        </th>
      </tr>

      <div class="loadingState">Loading..</div>
    
      <tr *ngFor = "let arr of items">
        <td>{{ arr.resource.id }}</td>
        <td>{{ arr.resource.name[0].family }}</td>
        <td>{{ arr.resource.name[0].given }}</td>
        <td>{{ arr.resource.gender }}</td>
        <td>{{ arr.resource.birthDate | date: 'yyyy-MM-dd'}}</td>
      </tr>
    </table>
  </div>  
    <!-- REMEMBER TO ADD PIPE FORMATTING! -->
    <footer>
      <div>
        <h2>Global Loading Time: </h2>
        <p>{{ globalLoading / 1000 }}s</p>
      </div>
      <div>
        <h2>Request Loading Time:</h2>
        <p>{{ requestLoading / 1000 }}s</p>
      </div>
    </footer>
</body>