button {
  background-color: orange;
}

.wrapper {
  max-width: 1500px;
  width: 90%;
  margin: 0 auto;
}

table {
  border: 2px solid lightgrey;
  padding: 20px;

  th {
    background: orange;
  }
 
  td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid orange;
  }
}

.error {
  background-color: #fff3cd;
  color: #fa5e5b;
  width: 50%;
  padding: 10px;
  border: 1px solid #fa5e5b;
  border-radius: 10px;
  margin-top: 5px;
}